[Unit]
Description = Heytelepat Telegram Bot
After = network.target

[Service]
WorkingDirectory = /home/***REMOVED***/***REMOVED***-server/password_bot

User = ***REMOVED***

Environment = TELEGRAM_TOKEN=1883863794:AAFy9xuTyU73f6yK70YnZIHkurg403Ddxkg

ExecStart = env/bin/python password_bot.py
Restart = on-failure

[Install]
WantedBy = multi-user.target
