[Unit]
Description = Heytelepat Telegram Bot
After = network.target

[Service]
WorkingDirectory = /home/tikhon/heytelepat-server/password_bot

User = tikhon

Environment = TELEGRAM_TOKEN=1883863794:AAFy9xuTyU73f6yK70YnZIHkurg403Ddxkg

ExecStart = /home/tikhon/heytelepat-server/password_bot/env/bin/python password_bot.py
Restart = on-failure

[Install]
WantedBy = multi-user.target
