[Unit]
Description = Heytelepat Phone Call

[Service]
Type = oneshot
WorkingDirectory = /home/tikhon/heytelepat-server/phone_call_manager

User = tikhon

ExecStart = /home/tikhon/heytelepat-server/phone_call_manager/env/bin/python phone_call_manager.py

[Install]
WantedBy = network-online.target
